<footer class="bg-light o_footer">
  <div id="footer" class="oe_structure oe_structure_solo">
    <section class="s_text_block pt16 pb8">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <span>
              Copyright ©
            </span>

            <span itemprop="name">
              Centureon IT
            </span>
          </div>
          <div class="col-lg-4" id="connect">
          </div>
          <div class="col-lg-4">
            <h5>
              <span></span>
            </h5>
            <p>
            </p>
            <p>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="o_footer_copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <img src="/assets/images/logo.png" class="image-logo-copy" />
        </div>
        <div class="col-lg-6 text-muted text-center text-md-left">
          <ul class="js_language_selector mb0 list-inline">
            <li class="list-inline-item">
              <div class="dropup">
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 text-right o_not_editable">
          <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="o_brand_promotion">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>