<div class={{classOne}}>
  <div class={{classTwo}}>
    <div class={{classThree}}>
      <button aria-label="menu" role="button" tabindex="0" class={{classBTN}}>
        <i>
          menu
        </i>
      </button>
    </div>
    <div class={{classFour}}>
      <a onclick={{action "home"}}>
        <img src="/assets/logo_f.png" class={{classImage}} />
      </a>
    </div>
  </div>
  <div class={{classFive}}>
    <div class={{classSix}} role="list">
      <a class={{classA}} onclick={{action "borrower"}}>
        <li class={{classBorrow}} tabindex="0">
          <i emphasis="low" sizevalue={{sizevalue}} class={{classIcon}}>
            account_circle
          </i>
          <p class="sc-fzqARJ sc-fzqNqU sc-pALIP ctMBeP">
            Borrower
          </p>
          <div class={{classBarBorrow}}></div>
        </li>
      </a>
      <a class={{classA}} onclick={{action "homeone"}}>
        <li class={{classHome}} tabindex="0">
          <i emphasis="low" sizevalue={{sizevalue}} class={{classIcon}}>
            trending_up
          </i>
          <p class="sc-fzqARJ sc-fzqNqU sc-pALIP ctMBeP">
            Dashboard
          </p>
          <div class={{classBarHome}}></div>
        </li>
      </a>

      <a class={{classA}} onclick={{action "schedule"}}>
        <li class={{classSch}} tabindex="0">
          <i emphasis="low" sizevalue={{sizevalue}} class={{classIcon}}>
            build_circle
          </i>
          <p class="sc-fzqARJ sc-fzqNqU sc-pALIP ctMBeP">
            Job Schedulers
          </p>
          <div class={{classBarSch}}></div>
        </li>
      </a>
      <a class={{classA}} onclick={{action "predicReport"}}>
        <li class={{classPredRep}} tabindex="0">
          <i emphasis="low" sizevalue={{sizevalue}} class={{classIcon}}>
            online_prediction
          </i>
          <p class="sc-fzqARJ sc-fzqNqU sc-pALIP ctMBeP">
            Prediction Report
          </p>
          <div class={{classBarPre}}></div>
        </li>
      </a>
      <a class="sc-pdMIc egduZp" onclick={{action "batchlog" expandmention}}>
        <li class="sc-pBzUF eEgcmk sc-puCJS fjuxJx" role="listitem">
          <i
            emphasis="low"
            sizevalue="24px"
            class="rmwc-icon google-material-icons sc-AxgMl cMONfX"
          >
            {{expandmention}}
          </i>
          <p class="sc-fzoiQi sc-fzqARJ sc-qOxXJ fzgPFD">
            Batch Prediction
          </p>
        </li>
        <div class="sc-qQMSE jyKJRd"></div>
      </a>
      {{#if (eq expandmentionshow "true")}}
        <a class={{classA}} onclick={{action "predicBatch"}}>
          <li class={{classPredBatch}} tabindex="0">
            <i emphasis="low" sizevalue={{sizevalue}} class={{classIcon}}>
              batch_prediction
            </i>
            <p class="sc-fzqARJ sc-fzqNqU sc-pALIP ctMBeP">
              Batch Prediction
            </p>
            <div class={{classBarMatchPre}}></div>
          </li>
        </a>

        <a class={{classA}} onclick={{action "predictionlog"}}>
          <li class={{classPredLog}} tabindex="0">
            <i emphasis="low" sizevalue={{sizevalue}} class={{classIcon}}>
              list
            </i>
            <p class="sc-fzqARJ sc-fzqNqU sc-pALIP ctMBeP">
              Prediction Logs
            </p>
            <div class={{classBarPredPre}}></div>
          </li>
        </a>
      {{/if}}
    </div>
  </div>
</div>