<label for={{labeltag}}>
  {{label}}
</label>
{{input type=dttype value=data class=classOne name=name}}
<div class={{classTwo}}>
  <button class={{classPass}} onclick={{action "showpass"}}>
    {{#if (eq visiblefl false)}}
      <svg
        width={{dimn}}
        height={{dimn}}
        viewBox={{viewn}}
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        style="display: block;"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M5.88101 7.38101L3 4.5L4.5 3L7.66657 6.16657L9.29455 7.79455L11.5507 10.0507L13.9493 12.4493L16.2055 14.7055L18.119 16.619L20.5 19L19 20.5L16.3334 17.8334C15.0713 18.5299 13.6196 19 12 19C5.75 19 2 12 2 12C2 12 3.38744 9.41012 5.88101 7.38101ZM7.79455 9.29455C7.29177 10.0744 7 11.0032 7 12C7 14.7612 9.23875 17 12 17C12.9968 17 13.9256 16.7082 14.7055 16.2055L12.4493 13.9493C12.3048 13.9825 12.1545 14 12 14C10.896 14 10 13.104 10 12C10 11.8455 10.0175 11.6952 10.0507 11.5507L7.79455 9.29455ZM17 12C17 12.1611 16.9924 12.3203 16.9775 12.4775L19.6643 15.1643C21.1787 13.5331 22 12 22 12C22 12 18.25 5 12 5C11.226 5 10.4904 5.10735 9.79546 5.29546L11.5225 7.02251C11.6797 7.00762 11.8389 7 12 7C14.7612 7 17 9.23875 17 12Z"
          fill="#999999"
        ></path>
      </svg>
    {{else}}
      <svg
        width={{dimn}}
        height={{dimn}}
        viewBox={{viewn}}
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 17C9.23875 17 7 14.7612 7 12C7 9.23875 9.23875 7 12 7C14.7612 7 17 9.23875 17 12C17 14.7612 14.7612 17 12 17ZM2 12C2 12 5.75 19 12 19C18.25 19 22 12 22 12C22 12 18.25 5 12 5C5.75 5 2 12 2 12ZM12 10C10.896 10 10 10.896 10 12C10 13.104 10.896 14 12 14C13.104 14 14 13.104 14 12C14 10.896 13.104 10 12 10Z"
          fill="#999999"
        ></path>
      </svg>
    {{/if}}
  </button>
</div>
<div class="row maring-row-pass">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    {{yield}}
  </div>
  <div class="col-sm-1"></div>
</div>