<div class={{classone}}>
  <div class={{classtwo}}></div>
  <div class={{classthree}}>
    <div class="sc-kIPIUN ctsFoq">
      <div class="sc-jCmwxO ekitij">
        <div class="sc-jHVFih sc-khKixi eorLMQXLFirst">
          <div class="sc-jwDLgl ibzIRN">
            <i
              sizevalue="12px"
              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
            >
              grid_3x3
            </i>
            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
              Rental
            </span>
            <i
              color="#5F6368"
              sizevalue="18px"
              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
            >
              sort
            </i>
          </div>
        </div>

        <div class="sc-jHVFih sc-khKixi eorLMQXL">
          <div class="sc-jwDLgl ibzIRN">
            <i
              sizevalue="12px"
              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
            >
              text_format
            </i>
            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
              Prediction Date
            </span>
            <i
              color="#5F6368"
              sizevalue="18px"
              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
            >
              sort
            </i>
          </div>
        </div>

        <div class="sc-jHVFih sc-khKixi eorLMQXL">
          <div class="sc-jwDLgl ibzIRN">
            <i
              sizevalue="12px"
              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
            >
              text_format
            </i>
            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
              Time Taken
            </span>
            <i
              color="#5F6368"
              sizevalue="18px"
              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
            >
              sort
            </i>
          </div>
        </div>
        <div class="sc-jHVFih sc-khKixi eorLMQXL">
          <div class="sc-jwDLgl ibzIRN">
            <i
              sizevalue="12px"
              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
            >
              text_format
            </i>
            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
              Prediction
            </span>
            <i
              color="#5F6368"
              sizevalue="18px"
              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
            >
              sort
            </i>
          </div>
        </div>

        <div class="sc-jHVFih sc-khKixi eorLMQXL">
          <div class="sc-jwDLgl ibzIRN">
            <i
              sizevalue="12px"
              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
            >
              text_format
            </i>
            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
              Actual Status
            </span>
            <i
              color="#5F6368"
              sizevalue="18px"
              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
            >
              sort
            </i>
          </div>
        </div>
        <div class="sc-jHVFih sc-khKixi eorLMQXL">
          <div class="sc-jwDLgl ibzIRN">
            <i
              sizevalue="12px"
              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
            >
              text_format
            </i>
            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
              Probability
            </span>
            <i
              color="#5F6368"
              sizevalue="18px"
              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
            >
              sort
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    {{#each models as |model|}}
      <span class={{classspan}}>
        <div class={{classfour}}>
          <div class={{classnumber}}>
            {{model.rentalno}}
          </div>
          <div>
            {{model.date}}
          </div>
          <div>
            {{model.timetake}}
          </div>
          <div>
            {{#if (eq model.prediction 0)}}
              Non defaulter
            {{else}}
              Defaulter
            {{/if}}
          </div>
          <div>
            {{#if (eq model.status 0)}}
              Non defaulter
            {{else}}
              Defaulter
            {{/if}}
          </div>
          <div>
            {{cx-probability model.probability}}
          </div>
        </div>
      </span>
    {{/each}}
  </div>
</div>

{{yield}}