<div class={{classOne}}></div>
<div class={{classOneNew}}>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Age
    </div>
    <div class={{classBody}}>
      {{model.age}}
    </div>
  </div>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Gender
    </div>
    <div class={{classBody}}>
      {{model.gender}}
    </div>
  </div>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Maritial Status
    </div>
    <div class={{classBody}}>
      {{model.maritalstatus}}
    </div>
  </div>
</div>
<div class={{classOneNew}}>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Province
    </div>
    <div class={{classBody}}>
      {{model.province}}
    </div>
  </div>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      District
    </div>
    <div class={{classBody}}>
      {{model.district}}
    </div>
  </div>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Address Line
    </div>
    <div class={{classBody}}>
      {{model.addresslinethree}}
    </div>
  </div>
</div>