<select
  class={{classSelection}}
  onchange={{action "selectedOption" value="target.value"}}
  disabled={{isReadonly}}
>
  <option value="0"></option>
  {{#if (eq data undefined)}}
    <option value="N/A" selected></option>

    {{#each model as |row|}}
      {{#each-in row._internalModel._data as |key value|}}
        {{#if (eq key keyaccess)}}
          <option value={{value}}>
            {{value}}
          </option>
        {{/if}}
      {{/each-in}}
    {{/each}}
  {{else}}
    <option value="N/A" selected></option>

    {{#each model as |row|}}
      {{#each-in row._internalModel._data as |key value|}}
        {{#if (eq key keyaccess)}}
          {{#if (eq data value)}}
            <option value={{value}} selected>
              {{value}}
            </option>
          {{else}}
            <option value={{value}}>
              {{value}}
            </option>
          {{/if}}
        {{/if}}
      {{/each-in}}
    {{/each}}
  {{/if}}
</select>

{{yield}}