<div class={{classOne}}></div>
<div class={{classOneNew}}>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Contract No
    </div>
    <div class={{classBody}}>
      {{model.contractno}}
    </div>
  </div>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Loan Name
    </div>
    <div class={{classBody}}>
      {{model.loanname}}
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Loan Type
    </div>
    <div class={{classBody}}>
      {{model.loantype}}
    </div>
  </div>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Mortage Type
    </div>
    <div class={{classBody}}>
      {{model.mortagetype}}
    </div>
  </div>
</div>
<div class={{classOneNew}}>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Principal Amount
    </div>
    <div class={{classBody}}>
      SLR {{model.principalamt}}
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Interest
    </div>
    <div class={{classBody}}>
      {{model.intrate}} %
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Loan Period
    </div>
    <div class={{classBody}}>
      {{model.period}}
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Arrears Days
    </div>
    <div class={{classBody}}>
      {{model.noofarrears}}
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Date of issue
    </div>
    <div class={{classBody}}>
      {{model.dateofissue}}
    </div>
  </div>
</div>