<div class={{classOne}}></div>
<div class={{classOneNew}}>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Age of Relation
    </div>
    <div class={{classBody}}>
      {{model.ageofrelationmonths}}
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Total No. Loans
    </div>
    <div class={{classBody}}>
      {{model.totalnoloans}}
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Total Loan Amount
    </div>
    <div class={{classBody}}>
      SLR {{model.totalloanamount}}
    </div>
  </div>
</div>
{{yield}}