<div class={{classone}}>
  <div class={{classtwo}}></div>
  <div class={{classthree}}>
    <div class="sc-kIPIUN ctsFoq">
      <div class="sc-jCmwxO ekitij">
        <div class="sc-jHVFih sc-khKixi eorLMQ">
          <div class="sc-jwDLgl ibzIRN">
            <i
              sizevalue="12px"
              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
            >
              text_format
            </i>
            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
              Due Date
            </span>
            <i
              color="#5F6368"
              sizevalue="18px"
              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
            >
              sort
            </i>
          </div>
        </div>

        <div class="sc-jHVFih sc-khKixi eorLMQ">
          <div class="sc-jwDLgl ibzIRN">
            <i
              sizevalue="12px"
              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
            >
              grid_3x3
            </i>
            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
              Rental no
            </span>
            <i
              color="#5F6368"
              sizevalue="18px"
              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
            >
              sort
            </i>
          </div>
        </div>

        <div class="sc-jHVFih sc-khKixi eorLMQ">
          <div class="sc-jwDLgl ibzIRN">
            <i
              sizevalue="12px"
              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
            >
              grid_3x3
            </i>
            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
              Due Amount
            </span>
            <i
              color="#5F6368"
              sizevalue="18px"
              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
            >
              sort
            </i>
          </div>
        </div>

        <div class="sc-jHVFih sc-khKixi eorLMQ">
          <div class="sc-jwDLgl ibzIRN">
            <i
              sizevalue="12px"
              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
            >
              text_format
            </i>
            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
              Due Status
            </span>
            <i
              color="#5F6368"
              sizevalue="18px"
              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
            >
              sort
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    {{#each models as |model|}}
      <span class={{classspan}}>
        <div class={{classfour}}>
          <div>
            {{model.duedate}}
          </div>
          <div class={{classnumber}}>
            {{model.rentalno}}
          </div>
          <div class={{classnumber}}>
            {{model.dueamount}}
          </div>
          <div>
            {{model.duestatus}}
          </div>
        </div>
      </span>
    {{/each}}
  </div>
</div>

{{yield}}