<td class={{classTdOne}}>
  <label class={{classLabel}}>
    {{label}}
  </label>
</td>
<td class={{classTdTwo}}>
  {{#if (not-eq mode "view")}}
    {{#if (eq setValue "N/A")}}
      <select
        id={{selectionid}}
        class={{classSelection}}
        onchange={{action "selectedOption" value="target.value"}}
      >
        <option value="N/A"></option>
        {{#each model as |row|}}
          {{#each-in row._internalModel._data as |key value|}}
            {{#if (eq key keyaccess)}}
              <option value={{value}}>
                {{value}}
              </option>
            {{/if}}
          {{/each-in}}
        {{/each}}
      </select>
    {{else if (eq setValue "")}}
      <select
        id={{selectionid}}
        class={{classSelection}}
        onchange={{action "selectedOption" value="target.value"}}
      >
        <option value="N/A"></option>
        {{#each model as |row|}}
          {{#each-in row._internalModel._data as |key value|}}
            {{#if (eq key keyaccess)}}
              <option value={{value}}>
                {{value}}
              </option>
            {{/if}}
          {{/each-in}}
        {{/each}}
      </select>
    {{else}}
      <select
        id={{selectionid}}
        class={{classSelection}}
        onchange={{action "selectedOption" value="target.value"}}
      >
        <option value="N/A"></option>
        {{#each model as |row|}}
          {{#each-in row._internalModel._data as |key value|}}
            {{#if (eq key keyaccess)}}
              {{#if (eq setValue value)}}
                <option value={{setValue}} selected>
                  {{setValue}}
                </option>
              {{else}}
                <option value={{value}}>
                  {{value}}
                </option>
              {{/if}}
            {{/if}}
          {{/each-in}}
        {{/each}}
      </select>
    {{/if}}
  {{else}}
    {{setValue}}
  {{/if}}
</td>
{{yield}}