<main>
  <div id="site-container">
    <div
      style="--mdc-theme-on-primary:#fff; --mdc-theme-on-surface:rgba(0, 0, 0, 0.87); --mdc-theme-text-primary-on-background:rgba(0, 0, 0, 0.87); --mdc-theme-text-secondary-on-background:rgba(0, 0, 0, 0.54); --mdc-theme-text-hint-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-disabled-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-icon-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-primary:#20BEFF; --mdc-theme-error:#F58B8A; --mdc-theme-background:#F8F8F8; --mdc-theme-surface:#fff; --mdc-theme-primary-bg:#20BEFF; --mdc-theme-secondary-bg:#919294;"
    >
      {{#nav-top-main label="Search" symbol="search"}}{{/nav-top-main}}
      {{#nav-bar-new}}{{/nav-bar-new}}
      <div id="site-content" class="sc-pBmid jWbQXn">
        <div class="Dataset_Wrapper-sc-isllmh bBkMGo">
          <div class="col-12 col-sm-12 col-xs-12 mainpanel">
            <ol class="breadcrumb" role="navigation">
              <li>
                <a class="borrolink" onclick={{action "discardroute"}}>
                  Borrowers
                </a>
              </li>
              <li class="breadcrumb-item active">
                View
              </li>
            </ol>
          </div>
          <div class="sc-khejCx ktkvXl" wrap="wrap">
            <div class="sc-jxjKaW jmgfEm">
              <h1 class="sc-fznKkj sc-fznZeY sc-pTDWx joJvIt">
                {{borrower.borrowerid}}
              </h1>
              <p class="sc-fzoyTs sc-fzoNJl sc-qbAJQ fEpgeu">
              </p>
            </div>
          </div>
          <div class="DatasetList_BannerWrapper-sc-1be6zyh eAKXEa">
            <div class="col-sm-12">
              <div class="col-sm-2">
                <div class="content-box-two content-box--grow">
                  <div class="content-box__title-bar">
                    <div
                      style="line-height: 46px;"
                      class="ContentBox_Title-sc-6fbrxj hMwprG"
                    >
                      Image
                    </div>
                  </div>
                  <div
                    class="content-box__content-section-two kernels-teaser__items"
                  >
                    <div class="teaser-list teaser-list--5-item-height">
                      {{#image-uploader}}{{/image-uploader}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-10">
                <div class="content-box content-box--grow">
                  <div class="content-box__title-bar">
                    <div
                      style="line-height: 46px;"
                      class="ContentBox_Title-sc-6fbrxj hMwprG"
                    >
                      Overview
                    </div>
                  </div>
                  <div
                    class="content-box__content-section kernels-teaser__items"
                  >
                    <div class="teaser-list teaser-list--4-item-height">
                      {{#object-borrower-detail model=borrower}}
                      {{/object-borrower-detail}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="DatasetList_BannerWrapper-sc-1be6zyh eAKXEa">
                <div class="sc-kIixin hfuBqW">
                  <div class="sc-kIixin bwbMYl">
                    <div
                      class="sc-qZtCU gYnjXV"
                      data-tip="true"
                      data-for="tooltip_components_197"
                      currentitem="false"
                    >
                      <i
                        color="rgba(0,0,0,0.7)"
                        sizevalue="24px"
                        class="rmwc-icon google-material-icons sc-AxgMl ccBsuS sc-khCkTZ JbAuV"
                      >
                      </i>
                      <div
                        class="__react_component_tooltip place-top type-dark"
                        id="tooltip_components_197"
                        data-id="tooltip"
                        style="left: 538px; top: 302px;"
                      >
                        <div class="sc-pzMyG ejxVHF">
                        </div>
                      </div>
                    </div>
                    <h5 class="sc-fzpjYC sc-fznxsB sc-kNjWNq jPEnAY">
                      {{predictions.length}} Contracts
                    </h5>
                  </div>
                  <div class="sc-jCCNBi dnDHOZPP">
                    <div class="sc-jNfLxA gjvUWV"></div>
                    <div class="sc-kIFxrv bzKand">
                      <div class="sc-kIPIUN ctsFoq">
                        <div class="sc-jCmwxO ekitij">
                          <div class="sc-jHVFih sc-khKixi eorLMQ">
                            <div class="sc-jwDLgl ibzIRN">
                              <i
                                sizevalue="12px"
                                class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                              >
                                text_format
                              </i>
                              <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                                Contract No
                              </span>
                              <i
                                color="#5F6368"
                                sizevalue="18px"
                                class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                              >
                                sort
                              </i>
                            </div>
                          </div>
                          <div class="sc-jHVFih sc-khKixi eorLMQ">
                            <div class="sc-jwDLgl ibzIRN">
                              <i
                                sizevalue="12px"
                                class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                              >
                                text_format
                              </i>
                              <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                                Loan Name
                              </span>
                              <i
                                color="#5F6368"
                                sizevalue="18px"
                                class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                              >
                                sort
                              </i>
                            </div>
                          </div>

                          <div class="sc-jHVFih sc-khKixi eorLMQ">
                            <div class="sc-jwDLgl ibzIRN">
                              <i
                                sizevalue="12px"
                                class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                              >
                                text_format
                              </i>
                              <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                                Status
                              </span>
                              <i
                                color="#5F6368"
                                sizevalue="18px"
                                class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                              >
                                sort
                              </i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      {{#each predictions as |prediction|}}
                        <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                          <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                            <div>
                              <a
                                class="link"
                                onclick={{
                                  action "getdata" prediction.contractno
                                }}
                              >
                                {{prediction.contractno}}
                              </a>
                            </div>
                            <div>
                              {{prediction.loanname}}
                            </div>
                            <div>
                              N/A
                            </div>
                          </div>
                        </span>
                      {{/each}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{#if (eq toShow "true")}}
              <div class="col-sm-12">
                <div class="competition-overview">
                  <div class="content-box">
                    <div>
                      <div class="content-box__title-bar">
                        <div
                          style="line-height: 46px;"
                          class="ContentBox_Title-sc-6fbrxj hMwprG"
                        >
                          Contract ID : {{contractnocompute}}
                        </div>
                      </div>
                    </div>
                    <div class="content-box__content-section">
                      <div
                        id="competition-overview__nav-content-container"
                        class="competition-overview__nav-content-container"
                      >
                        <div class="competition-overview__wrapper">
                          <div class="competition-overview__nav-wrapper">
                            <nav class="competition-overview__nav">
                              <a
                                class="competition-overview__nav-item"
                                id="pageheader-nav-item--description"
                                href="#notebook_page_90"
                                data-toggle="tab"
                                disable_anchor="true"
                                role="tab"
                                aria-selected="true"
                                id="contract"
                                onclick={{action "contracttab"}}
                              >
                                Contract
                              </a>
                              {{!-- <a
                                class="competition-overview__nav-item"
                                id="pageheader-nav-item--description"
                                href="#notebook_page_91"
                                data-toggle="tab"
                                disable_anchor="true"
                                role="tab"
                                aria-selected="true"
                                id="crm"
                                onclick={{action "crmtab"}}
                              >
                                Customer Relation
                              </a> --}}

                              <a
                                class="competition-overview__nav-item"
                                id="pageheader-nav-item--description"
                                href="#notebook_page_92"
                                data-toggle="tab"
                                disable_anchor="true"
                                role="tab"
                                aria-selected="true"
                                id="sche"
                                onclick={{action "schetab"}}
                              >
                                Scheduler
                              </a>

                              <a
                                class="competition-overview__nav-item"
                                id="pageheader-nav-item--description"
                                href="#notebook_page_93"
                                data-toggle="tab"
                                disable_anchor="true"
                                role="tab"
                                aria-selected="true"
                                id="bill"
                                onclick={{action "billtab"}}
                              >
                                Bill Generation
                              </a>

                              <a
                                class="competition-overview__nav-item"
                                id="pageheader-nav-item--description"
                                href="#notebook_page_94"
                                data-toggle="tab"
                                disable_anchor="true"
                                role="tab"
                                aria-selected="true"
                                id="payment"
                                onclick={{action "paytab"}}
                              >
                                Payment
                              </a>

                              <a
                                class="competition-overview__nav-item"
                                id="pageheader-nav-item--description"
                                href="#notebook_page_95"
                                data-toggle="tab"
                                disable_anchor="true"
                                role="tab"
                                aria-selected="true"
                                id="pred"
                                onclick={{action "pretab"}}
                              >
                                Prediction
                              </a>
                            </nav>
                          </div>
                        </div>
                        <div class="competition-overview__content">
                          <div id="notebook_page_90" class="tab-pane">
                            <div class="competition-markdown">
                              <div class="markdown-converter__text--rendered">
                                {{#each contractArraycompute as |contract|}}
                                  {{#object-borrower-contract model=contract}}
                                  {{/object-borrower-contract}}
                                {{/each}}
                              </div>
                            </div>
                          </div>
                          <div id="notebook_page_91" class="tab-pane">
                            <div class="competition-markdown">
                              <div class="markdown-converter__text--rendered">
                                {{#each borrower.crm as |crm|}}
                                  {{#object-crm model=crm}}{{/object-crm}}
                                {{/each}}
                              </div>
                            </div>
                          </div>
                          <div id="notebook_page_92" class="tab-pane">
                            <div class="competition-markdown">
                              <div class="markdown-converter__text--rendered">
                                {{#object-customer-scheduler
                                  models=borrower.scheduler
                                }}{{/object-customer-scheduler}}
                              </div>
                            </div>
                          </div>
                          <div id="notebook_page_93" class="tab-pane">
                            <div class="competition-markdown">
                              <div class="markdown-converter__text--rendered">
                                {{#object-bill-gen
                                  models=borrower.billgeneration
                                }}{{/object-bill-gen}}
                              </div>
                            </div>
                          </div>
                          <div id="notebook_page_94" class="tab-pane">
                            <div class="competition-markdown">
                              <div class="markdown-converter__text--rendered">
                                {{#object-payment-bill
                                  models=borrower.paymentbill
                                }}{{/object-payment-bill}}
                              </div>
                            </div>
                          </div>
                          <div id="notebook_page_95" class="tab-pane">
                            <div class="competition-markdown">
                              <div class="markdown-converter__text--rendered">
                                {{#object-user-predic
                                  models=predictionarrayCompute
                                }}{{/object-user-predic}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>