<main>
  <div id="site-container">
    <div
      style="--mdc-theme-on-primary:#fff; --mdc-theme-on-surface:rgba(0, 0, 0, 0.87); --mdc-theme-text-primary-on-background:rgba(0, 0, 0, 0.87); --mdc-theme-text-secondary-on-background:rgba(0, 0, 0, 0.54); --mdc-theme-text-hint-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-disabled-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-icon-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-primary:#20BEFF; --mdc-theme-error:#F58B8A; --mdc-theme-background:#F8F8F8; --mdc-theme-surface:#fff; --mdc-theme-primary-bg:#20BEFF; --mdc-theme-secondary-bg:#919294;"
    >
      {{#nav-top-main label="Search" symbol="search"}}{{/nav-top-main}}
      {{#nav-bar-new}}{{/nav-bar-new}}
    </div>
    <div id="site-content" class="sc-pBmid jWbQXn">
      <div class="Dataset_Wrapper-sc-isllmh bBkMGo">
      </div>
    </div>
  </div>
</main>