<main>
  <div id="site-container">
    <div
      style="--mdc-theme-on-primary:#fff; --mdc-theme-on-surface:rgba(0, 0, 0, 0.87); --mdc-theme-text-primary-on-background:rgba(0, 0, 0, 0.87); --mdc-theme-text-secondary-on-background:rgba(0, 0, 0, 0.54); --mdc-theme-text-hint-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-disabled-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-icon-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-primary:#20BEFF; --mdc-theme-error:#F58B8A; --mdc-theme-background:#F8F8F8; --mdc-theme-surface:#fff; --mdc-theme-primary-bg:#20BEFF; --mdc-theme-secondary-bg:#919294;"
    >
      {{#nav-top-main label="Search" symbol="search"}}{{/nav-top-main}}
      {{#nav-bar-new}}{{/nav-bar-new}}
      <div id="site-content" class="sc-pBmid jWbQXn">
        <div class="Dataset_Wrapper-sc-isllmh bBkMGo">
          <div class="col-12 col-sm-7 col-xs-12 mainpanel">
            <ol class="breadcrumb" role="navigation">
              <li>
                <a class="borrolink" onclick={{action "discardroute"}}>
                  Log Details
                </a>
              </li>
              <li class="breadcrumb-item active">
                View
              </li>
            </ol>
          </div>
          <div class="col-5 col-sm-5 col-xs-5">
            <div class="breadcrumb1">
            </div>
          </div>

          <div class="sc-khejCx ktkvXl" wrap="wrap">
            <div class="sc-jxjKaW jmgfEm">
              <h1 class="sc-fznKkj sc-fznZeY sc-pTDWx joJvIta">
                RUN ID : {{joblog.runid}}
              </h1>
              <p class="sc-fzoyTs sc-fzoNJl sc-qbAJQ fEpgeu">
              </p>
            </div>
            <div class="sc-jMWpol fJMZgk" wrap="wrap">
            </div>
          </div>
          <div class="Home_ComponentWrapper-sc-7qy803 jYMWzP">
            <div class="competition-overview__teasers">
              <div class="competition-overview__teaser">
                <div class="content-box content-box--grow">
                  <div class="content-box__title-bar--link">
                    <div class="content-box__title-bar">
                      <div
                        style="line-height: 46px;"
                        class="ContentBox_Title-sc-6fbrxj hMwprG"
                      >
                        Overview
                      </div>
                    </div>
                  </div>
                  <div
                    class="content-box__content-section kernels-teaser__items"
                  >
                    <div class="teaser-list teaser-list--4-item-height">
                      {{#object-title
                        data=joblog.name
                        label="Job Name"
                        isReadonly=true
                      }}{{/object-title}}
                      {{#object-title
                        data=joblog.processname
                        label="Process"
                        isReadonly=true
                      }}{{/object-title}}
                      {{#object-title
                        data=joblog.status
                        label="Status"
                        isReadonly=true
                      }}{{/object-title}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="competition-overview__teaser">
                <div class="content-box content-box--grow">
                  <div class="content-box__title-bar--link">
                    <div class="content-box__title-bar">
                      <div
                        style="line-height: 46px;"
                        class="ContentBox_Title-sc-6fbrxj hMwprG"
                      >
                        Runtime Detail
                      </div>
                    </div>
                  </div>
                  <div
                    class="content-box__content-section kernels-teaser__items"
                  >
                    <div class="teaser-list teaser-list--4-item-height">
                      {{#object-title
                        data=joblog.dt
                        label="Date"
                        isReadonly=true
                      }}{{/object-title}}
                      {{#object-title
                        data=joblog.time
                        label="Start Time"
                        isReadonly=true
                      }}{{/object-title}}
                      {{#object-title
                        data=joblog.endtime
                        label="End Time"
                        isReadonly=true
                      }}{{/object-title}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mainpanel">
            <div id="myProgress">
              <div id="myBar">
              </div>
            </div>
          </div>
          <div class="DatasetList_BannerWrapper-sc-1be6zyh eAKXEa marginnew">
            <div class="sc-kIixin hfuBqWasd">
              <div class="sc-kIixin bwbMYlasd">
                <div
                  class="sc-qZtCU gYnjXV"
                  data-tip="true"
                  data-for="tooltip_components_197"
                  currentitem="false"
                >
                  <i
                    color="rgba(0,0,0,0.7)"
                    sizevalue="24px"
                    class="rmwc-icon google-material-icons sc-AxgMl ccBsuS sc-khCkTZ JbAuV"
                  >
                  </i>
                  <div
                    class="__react_component_tooltip place-top type-dark"
                    id="tooltip_components_197"
                    data-id="tooltip"
                    style="left: 538px; top: 302px;"
                  >
                    <div class="sc-pzMyG ejxVHF">
                    </div>
                  </div>
                </div>
                <h5 class="sc-fzpjYC sc-fznxsB sc-kNjWNq jPEnAY">
                  Detail
                </h5>
                <div
                  class="sc-qZtCU gYnjXV"
                  data-tip="true"
                  data-for="tooltip_components_56"
                  currentitem="false"
                >
                </div>
                <div
                  class="sc-qZtCU gYnjXV"
                  data-tip="true"
                  data-for="tooltip_components_56"
                  currentitem="false"
                >
                </div>
              </div>

              <div class="sc-jCCNBi dnDHOZ">
                <div class="sc-jNfLxA gjvUWV">
                  <div class="sc-kIFxrv bzKand">
                    <div class="sc-kIPIUN ctsFoq">
                      <div class="sc-jCmwxO ekitij">
                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRN">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                              text_format
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                              Date
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                              sort
                            </i>
                          </div>
                        </div>

                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRN">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                              text_format
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                              Time
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                              sort
                            </i>
                          </div>
                        </div>

                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRN">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                              text_format
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                              Input
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                              sort
                            </i>
                          </div>
                        </div>
                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRN">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                              text_format
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                              Output
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                              sort
                            </i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    {{#each joblog.output as |output|}}
                      <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                        <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                          <div>
                            {{output.dt}}
                          </div>
                          <div>
                            {{output.time}}
                          </div>
                          <div>
                            <span class="textbody">
                              {{output.input}}
                            </span>
                          </div>
                          <div>
                            <span class="textbody">
                              {{output.output}}
                            </span>
                          </div>
                        </div>
                      </span>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>