<main>
  <div id="site-container">
    <div
      style="--mdc-theme-on-primary:#fff; --mdc-theme-on-surface:rgba(0, 0, 0, 0.87); --mdc-theme-text-primary-on-background:rgba(0, 0, 0, 0.87); --mdc-theme-text-secondary-on-background:rgba(0, 0, 0, 0.54); --mdc-theme-text-hint-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-disabled-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-icon-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-primary:#20BEFF; --mdc-theme-error:#F58B8A; --mdc-theme-background:#F8F8F8; --mdc-theme-surface:#fff; --mdc-theme-primary-bg:#20BEFF; --mdc-theme-secondary-bg:#919294;"
    >
      {{#nav-top-main label="Search" symbol="search"}}{{/nav-top-main}}
      {{#nav-bar-new}}{{/nav-bar-new}}
      <div id="site-content" class="sc-pBmid jWbQXn">
        <div class="Dataset_Wrapper-sc-isllmh bBkMGo">
          <div class="col-12 col-sm-12 col-xs-12 mainpanel">
            <ol class="breadcrumb" role="navigation">
              <li>
                <a class="borrolink" onclick={{action "discardroute"}}>
                  Job Scheduler
                </a>
              </li>
              <li class="breadcrumb-item active">
                / Job Scheduler logs
              </li>
            </ol>
          </div>
          <div class="sc-khejCx ktkvXl" wrap="wrap">
            <div class="sc-jxjKaW jmgfEm">
              <h1 class="sc-fznKkj sc-fznZeY sc-pTDWx joJvIt">
                Job Scheduler logs
              </h1>
              <p class="sc-fzoyTs sc-fzoNJl sc-qbAJQ fEpgeu">
                Find all the job schedules logs.
              </p>
            </div>
          </div>
          <div class="DatasetList_BannerWrapper-sc-1be6zyh eAKXEa">
            <div class="sc-kIixin hfuBqW">
              <div class="sc-kIixin bwbMYl">
                <div
                  class="sc-qZtCU gYnjXV"
                  data-tip="true"
                  data-for="tooltip_components_197"
                  currentitem="false"
                >
                  <i
                    color="rgba(0,0,0,0.7)"
                    sizevalue="24px"
                    class="rmwc-icon google-material-icons sc-AxgMl ccBsuS sc-khCkTZ JbAuV"
                  >
                  </i>
                  <div
                    class="__react_component_tooltip place-top type-dark"
                    id="tooltip_components_197"
                    data-id="tooltip"
                    style="left: 538px; top: 302px;"
                  >
                    <div class="sc-pzMyG ejxVHF">
                    </div>
                  </div>
                </div>
                <h5 class="sc-fzpjYC sc-fznxsB sc-kNjWNq jPEnAY">
                  {{joblogs.length}} Job Schedulers logs
                </h5>
              </div>
              <div class="sc-jCCNBi dnDHOZ">
                <div class="sc-jNfLxA gjvUWV"></div>
                <div class="sc-kIFxrv bzKand">
                  <div class="sc-kIPIUN ctsFoq">
                    <div class="sc-jCmwxO ekitij">
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            text_format
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            Run ID
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            text_format
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            Date
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            text_format
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            Start
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            text_format
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            End
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            text_format
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            Job Name
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            text_format
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            Job Process
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            text_format
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            Status
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  {{#each joblogs as |joblog|}}
                    <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                      <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                        <div>
                          <a class="link" onclick={{action "view" joblog.id}}>
                            {{joblog.runid}}
                          </a>
                        </div>
                        <div>
                          {{joblog.dt}}
                        </div>
                        <div>
                          {{joblog.time}}
                        </div>
                        <div>
                          {{joblog.endtime}}
                        </div>
                        <div>
                          {{joblog.name}}
                        </div>
                        <div>
                          {{joblog.processname}}
                        </div>
                        <div>
                          {{joblog.status}}
                        </div>
                      </div>
                    </span>
                  {{/each}}
                </div>
                <div class="row rowmarginmain">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4 padd-pagin">
                    {{#each-in joblogs.meta.pagination as |key value|}}
                      {{#if (eq (determine-pagination value.number) true)}}
                        {{#link-to "logdetail" (query-params page=value.number)
                        }}
                          <button id="pagi" class="btn-new">
                            {{key}}
                          </button>
                        {{/link-to}}
                      {{else}}
                        <button id="pagi" class="btn-new-disabled" disabled>
                          {{key}}
                        </button>
                      {{/if}}
                    {{/each-in}}
                  </div>
                  <div class="col-sm-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>