<div id="login">
  <main></main>
  <div class="merchant-login">
    <section class="clearfix">
      <div class="branding">
        <svg
          width="209"
          height="108"
          viewBox="0 0 209 108"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d=""
            fill="#005CB9"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d=""
            fill="#005CB9"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d=""
            fill="#005CB9"
          ></path>
        </svg>
        <div class="sc-pkryX dKCOua">
          <div class="sc-pYbCK hFTajN">
            <div class="sc-oUAZN fCvNXI">
              <img
                src="https://www.kaggle.com/static/images/design/HomePage/grid-pattern/organic-dots.svg"
                alt="Geometric Grid pattern"
                class="sc-pcxSc iBMijp"
              />
            </div>
            <div class="sc-oUAZN fCvNWX">
              <img
                src="https://www.kaggle.com/static/images/design/HomePage/grid-pattern/neural-network.svg"
                alt="Geometric Grid pattern"
                class="sc-pcxSc iBMijp"
              />
            </div>
            <div class="sc-oUAZN fCvNWq">
              <img
                src="https://www.kaggle.com/static/images/design/HomePage/grid-pattern/dot-lines.svg"
                alt="Geometric Grid pattern"
                class="sc-pcxSc iBMijp"
              />
            </div>
            <div class="sc-oUAZN cphwvp">
              <img
                src="https://www.kaggle.com/static/images/design/HomePage/grid-pattern/grid.svg"
                alt="Geometric Grid pattern"
                class="sc-pcxSc iBMijp"
              />
            </div>
            <div class="sc-oUAZN cphwas">
              <img
                src="https://www.kaggle.com/static/images/design/HomePage/grid-pattern/circles.svg"
                alt="Geometric Grid pattern"
                class="sc-pcxSc iBMijp"
              />
            </div>
            <div class="sc-oUAZN cphwat">
              <img
                src="https://www.kaggle.com/static/images/design/HomePage/grid-pattern/grid-dots-missing.svg"
                alt="Geometric Grid pattern"
                class="sc-pcxSc iBMijp"
              />
            </div>
          </div>
        </div>
      </div>

      <div id="loginForm">
        <div class="test">
          {{#login-component newmodel=newmodel}}{{/login-component}}
        </div>
      </div>
    </section>
  </div>

  <div class="fixed-bg"></div>
</div>