<main>
  <div id="site-container">
    <div
      style="--mdc-theme-on-primary:#fff; --mdc-theme-on-surface:rgba(0, 0, 0, 0.87); --mdc-theme-text-primary-on-background:rgba(0, 0, 0, 0.87); --mdc-theme-text-secondary-on-background:rgba(0, 0, 0, 0.54); --mdc-theme-text-hint-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-disabled-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-icon-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-primary:#20BEFF; --mdc-theme-error:#F58B8A; --mdc-theme-background:#F8F8F8; --mdc-theme-surface:#fff; --mdc-theme-primary-bg:#20BEFF; --mdc-theme-secondary-bg:#919294;"
    >
      {{#nav-top-main label="Search" symbol="search"}}{{/nav-top-main}}
      {{#nav-bar-new}}{{/nav-bar-new}}
      <div id="site-content" class="sc-pBmid jWbQXn">
        <div class="Dataset_Wrapper-sc-isllmh bBkMGo">
          <div class="col-12 col-sm-12 col-xs-12 mainpanel">
            <ol class="breadcrumb" role="navigation">
              <li class="breadcrumb-item active">
                / Predicted Report
              </li>
            </ol>
          </div>
          <div class="sc-khejCx ktkvXl" wrap="wrap">
            <div class="sc-jxjKaW jmgfEm">
              <h1 class="sc-fznKkj sc-fznZeY sc-pTDWx joJvIt">
                Predicted Reports
              </h1>
              <p class="sc-fzoyTs sc-fzoNJl sc-qbAJQ fEpgeu">
                Here find all the Predicted Report
              </p>
            </div>
          </div>
          <div class="DatasetList_BannerWrapper-sc-1be6zyh eAKXEa">
            <div class="competition-overview__teasers">
              <div class="competition-overview__teaser">
                <div class="content-box content-box--grow">
                  <div class="content-box__title-bar--link">
                    <div class="content-box__title-bar-two">
                      <div
                        style="line-height: 50px;"
                        class="ContentBox_Title-sc-6fbrxj hMwprG"
                      ></div>

                      <button
                        class="sc-fzpkqZ iWxdZC"
                        tabindex="0"
                        role="button"
                        onclick={{action "clear"}}
                      >
                        <i
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwgYP"
                        >
                          clear
                        </i>
                        <span class="sc-fzoxKX sc-fzoKki cyTXUp">
                          Clear
                        </span>
                      </button>
                      <br />
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />
            <div class="sc-jCCNBi dnDHOZ">
              <div class="sc-jNfLxA gjvUWV"></div>
              <div class="sc-kIFxrv bzKand">
                <div class="sc-kIPIUN ctsFoq">
                  <div class="sc-jCmwxO ekitij">
                    <div class="sc-jHVFih sc-khKixi eorLMQXLFirst">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          grid_3x3
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          SN
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>
                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          text_format
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          Borrower
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>
                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          text_format
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          Contract No.
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>
                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          Bill Date
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>
                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          grid_3x3
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          Principal Amount
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>
                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          grid_3x3
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          Rental No.
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>
                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          text_format
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          Prediction Date
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>

                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          text_format
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          Prediction
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>

                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          text_format
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          Actual Status
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>

                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          text_format
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          Probability
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                {{#each userwisepredictions as |userwiseprediction|}}
                  <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                    <div class="sc-jCmwxO sc-kNYnxC fbAYtQXL">
                      <div class="number">
                        {{userwiseprediction.id}}
                      </div>
                      <div>
                        <a
                          class="link"
                          onclick={{
                            action "view" userwiseprediction.borrowerid
                          }}
                        >
                          {{userwiseprediction.borrowerid}}
                        </a>
                      </div>
                      <div>
                        {{userwiseprediction.contractno}}
                      </div>
                      <div>
                        {{userwiseprediction.billdate}}
                      </div>
                      <div class="number">
                        {{userwiseprediction.principalamt}}
                      </div>
                      <div class="number">
                        {{userwiseprediction.rentalno}}
                      </div>
                      <div class="number">
                        {{userwiseprediction.date}}
                      </div>
                      <div>
                        {{#if (eq userwiseprediction.prediction 0)}}
                          Non Defaulter
                        {{else}}
                          Defaulter
                        {{/if}}
                      </div>
                      <div>
                        {{#if (eq userwiseprediction.status 0)}}
                          Non Defaulter
                        {{else}}
                          Defaulter
                        {{/if}}
                      </div>
                      <div>
                        {{cx-probability userwiseprediction.probability}}
                      </div>
                    </div>
                  </span>
                {{/each}}
              </div>
              <div class="row rowmarginmain">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 padd-pagin">
                  {{#each-in userwisepredictions.meta.pagination as |key value|
                  }}
                    {{#if (eq (determine-pagination value.number) true)}}
                      {{#link-to
                        "predictionreport-param"
                        (query-params page=value.number)
                      }}
                        <button id="pagi" class="btn-new">
                          {{key}}
                        </button>
                      {{/link-to}}
                    {{else}}
                      <button id="pagi" class="btn-new-disabled" disabled>
                        {{key}}
                      </button>
                    {{/if}}
                  {{/each-in}}
                </div>
                <div class="col-sm-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>