<main>
  <div id="site-container">
    <div
      style="--mdc-theme-on-primary:#fff; --mdc-theme-on-surface:rgba(0, 0, 0, 0.87); --mdc-theme-text-primary-on-background:rgba(0, 0, 0, 0.87); --mdc-theme-text-secondary-on-background:rgba(0, 0, 0, 0.54); --mdc-theme-text-hint-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-disabled-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-icon-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-primary:#20BEFF; --mdc-theme-error:#F58B8A; --mdc-theme-background:#F8F8F8; --mdc-theme-surface:#fff; --mdc-theme-primary-bg:#20BEFF; --mdc-theme-secondary-bg:#919294;"
    >
      {{#nav-top-main label="Search" symbol="search"}}{{/nav-top-main}}
      {{#nav-bar-new}}{{/nav-bar-new}}
      <div id="site-content" class="sc-pBmid jWbQXn">
        <div class="Dataset_Wrapper-sc-isllmh bBkMGo">
          <div class="col-12 col-sm-7 col-xs-12 mainpanel">
            <ol class="breadcrumb" role="navigation">
              <li>
                <a class="borrolink" onclick={{action "discardroute"}}>
                  Prediction
                </a>
              </li>
              <li class="breadcrumb-item active">
                Batch
              </li>
            </ol>
          </div>
          <div class="col-5 col-sm-5 col-xs-5">
            <div class="breadcrumb1">
            </div>
          </div>

          <div class="sc-khejCx ktkvXl" wrap="wrap">
            <div class="sc-jxjKaW jmgfEm">
              <h1 class="sc-fznKkj sc-fznZeY sc-pTDWx joJvIt">
              </h1>
              <p class="sc-fzoyTs sc-fzoNJl sc-qbAJQ fEpgeu">
              </p>
            </div>
            <div class="sc-jMWpol fJMZgk" wrap="wrap">
            </div>
          </div>
          <div class="Home_ComponentWrapper-sc-7qy803 jYMWzP">
            <div class="competition-overview__teasers">
              <div class="competition-overview__teaser">
                <div class="content-box content-box--grow">
                  <div class="content-box__title-bar--link-two">
                    <div class="content-box__title-bar">
                      <div
                        style="line-height: 46px;"
                        class="ContentBox_Title-sc-6fbrxj hMwprG"
                      >
                      </div>
                    </div>
                  </div>
                  <div
                    class="content-box__content-section-width kernels-teaser__items"
                  >
                    <div class="teaser-list teaser-list--4-item-height">
                      {{#single-selection-div
                        data=modelname
                        modelname="modeldetail"
                        keyaccess="model"
                        label="Model"
                        data=modelname
                      }}{{/single-selection-div}}
                      <br />
                       <div class="teaser-list teaser-list--4-item-height">
                         <div class="labeltitle">
                            Bill Generation
                         </div>
                        
                       </div>
                      <div class="teaser-list teaser-list--4-item-height">
                        {{#date-component label="Start" date=start}}
                        {{/date-component}}
                        <br />
                        {{#date-component label="End" date=end}}
                        {{/date-component}}
                      </div>
                      <div class="teaser-list teaser-list--4-item-height">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-2">
                          <button
                            class="sc-fzpkqZ iWxdZC"
                            tabindex="0"
                            role="button"
                            onclick={{action "run" modelname start end}}
                          >
                            <i
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwgYP"
                            >
                              directions_run
                            </i>
                            <span class="sc-fzoxKX sc-fzoKki cyTXUp">
                              Run
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
          <br />
          <div class="mainpanel">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="msg">
                {{mesasgeCompute}}
              </div>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <br />
          <br />
          <br />
          <div class="DatasetList_BannerWrapper-sc-1be6zyh eAKXEa marginnew">
            <div class="sc-kIixin hfuBqWasd">
              <div class="sc-kIixin bwbMYlasd">
                <div
                  class="sc-qZtCU gYnjXV"
                  data-tip="true"
                  data-for="tooltip_components_197"
                  currentitem="false"
                >
                  <i
                    color="rgba(0,0,0,0.7)"
                    sizevalue="24px"
                    class="rmwc-icon google-material-icons sc-AxgMl ccBsuS sc-khCkTZ JbAuV"
                  >
                  </i>
                  <div
                    class="__react_component_tooltip place-top type-dark"
                    id="tooltip_components_197"
                    data-id="tooltip"
                    style="left: 538px; top: 302px;"
                  >
                    <div class="sc-pzMyG ejxVHF">
                    </div>
                  </div>
                </div>
                <h5 class="sc-fzpjYC sc-fznxsB sc-kNjWNq jPEnAY">
                  Logs
                </h5>
              </div>

              <div class="sc-jCCNBi dnDHOZXX">
                <div class="sc-jNfLxA gjvUWV">
                  <div class="sc-kIFxrv bzKand">
                    <div class="sc-kIPIUN ctsFoq">
                      <div class="sc-jCmwxO ekitij">
                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRNL">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                              text_format
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                              Output
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                              sort
                            </i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    {{#each componentNamesComputed as |log|}}
                      {{#object-log-new model=log}}{{/object-log-new}}
                    {{else}}

                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>