<main>
  <div id="site-container">
    <div
      style="--mdc-theme-on-primary:#fff; --mdc-theme-on-surface:rgba(0, 0, 0, 0.87); --mdc-theme-text-primary-on-background:rgba(0, 0, 0, 0.87); --mdc-theme-text-secondary-on-background:rgba(0, 0, 0, 0.54); --mdc-theme-text-hint-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-disabled-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-icon-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-primary:#20BEFF; --mdc-theme-error:#F58B8A; --mdc-theme-background:#F8F8F8; --mdc-theme-surface:#fff; --mdc-theme-primary-bg:#20BEFF; --mdc-theme-secondary-bg:#919294;"
    >
      {{#nav-top-main label="Search" symbol="search"}}{{/nav-top-main}}
      {{#nav-bar-new}}{{/nav-bar-new}}
      <div id="site-content" class="sc-pBmid jWbQXn">
        <div class="Dataset_Wrapper-sc-isllmh bBkMGo">
          <div class="col-12 col-sm-12 col-xs-12 mainpanel">
            <ol class="breadcrumb" role="navigation">
              <li class="breadcrumb-item active">
                / Prediction Logs
              </li>
            </ol>
          </div>
          <div class="sc-khejCx ktkvXl" wrap="wrap">
            <div class="sc-jxjKaW jmgfEm">
              <h1 class="sc-fznKkj sc-fznZeY sc-pTDWx joJvIt">
                Prediction Logs
              </h1>
              <p class="sc-fzoyTs sc-fzoNJl sc-qbAJQ fEpgeu">
                Here find all the Prediction Logs
              </p>
            </div>
          </div>
          <div class="DatasetList_BannerWrapper-sc-1be6zyh eAKXEa">
            <div class="competition-overview__teasers">
              <div class="competition-overview__teaser">
                <div class="content-box content-box--grow">
                  <div class="content-box__title-bar--link">
                    <div class="content-box__title-bar">
                      <div
                        style="line-height: 46px;"
                        class="ContentBox_Title-sc-6fbrxj hMwprG"
                      ></div>
                    </div>
                  </div>
                  <div
                    class="content-box__content-section kernels-teaser__items"
                  >
                    <div class="teaser-list teaser-list--4-item-height">
                      {{#obj-autocomplete
                        label="Month"
                        modelname="month"
                        lists="month"
                        keyaccess="month"
                        data=month
                      }}{{/obj-autocomplete}}
                      <br />
                      {{#obj-autocomplete
                        label="Year"
                        modelname="year"
                        lists="years"
                        keyaccess="yearname"
                        data=year
                      }}{{/obj-autocomplete}}
                      <br />
                      <div class="teaser-list teaser-list--4-item-height">
                        <br />
                        <br />
                        <div class="kernels-teaser__item-title">
                          <div class="col-sm-9">
                          </div>
                          <div class="col-sm-1">
                            <button
                              class="sc-fzpkqZ iWxdZC"
                              tabindex="0"
                              role="button"
                              onclick={{action "filter" month year}}
                            >
                              <i
                                sizevalue="18px"
                                class="rmwc-icon google-material-icons sc-AxgMl eRwgYP"
                              >
                                search
                              </i>
                              <span class="sc-fzoxKX sc-fzoKki cyTXUp"></span>
                            </button>
                          </div>
                        </div>
                        <br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="competition-overview__teaser">
                <div class="content-box content-box--grow">
                  <div class="content-box__title-bar--link">
                    <div class="content-box__title-bar">
                      <div
                        style="line-height: 46px;"
                        class="ContentBox_Title-sc-6fbrxj hMwprG"
                      ></div>
                    </div>
                  </div>
                  <div
                    class="content-box__content-section kernels-teaser__items"
                  >
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />
            <div class="sc-jCCNBi dnDHOZ">
              <div class="sc-jNfLxA gjvUWV"></div>
              <div class="sc-kIFxrv bzKand">
                <div class="sc-kIPIUN ctsFoq">
                  <div class="sc-jCmwxO ekitij">
                    <div class="sc-jHVFih sc-khKixi eorLMQXLFirst">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          grid_3x3
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          SN
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>
                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          text_format
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          Date
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>
                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          text_format
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          Date Time
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>
                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          text_format
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          Bill Date From
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>
                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          text_format
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          Bill Date To
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>
                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          text_format
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          Model Used
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>
                    <div class="sc-jHVFih sc-khKixi eorLMQXL">
                      <div class="sc-jwDLgl ibzIRN">
                        <i
                          sizevalue="12px"
                          class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                        >
                          text_format
                        </i>
                        <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          User
                        </span>
                        <i
                          color="#5F6368"
                          sizevalue="18px"
                          class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                        >
                          sort
                        </i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                {{#each predictionlogs as |predictionlog|}}
                  <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                    <div class="sc-jCmwxO sc-kNYnxC fbAYtQXL">
                      <div class="number">
                        {{predictionlog.id}}
                      </div>
                      <div>
                        {{predictionlog.date}}
                      </div>
                      <div>
                        {{predictionlog.datetime}}
                      </div>
                      <div>
                        {{predictionlog.billdatefrom}}
                      </div>
                      <div>
                        {{predictionlog.billdateto}}
                      </div>
                      <div>
                        {{predictionlog.modelused}}
                      </div>
                      <div>
                        {{predictionlog.username}}
                      </div>
                    </div>
                  </span>
                {{/each}}
              </div>
              <div class="row rowmarginmain">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 padd-pagin">
                  {{#each-in predictionlogs.meta.pagination as |key value|}}
                    {{#if (eq (determine-pagination value.number) true)}}
                      {{#link-to
                        "predictionreport"
                        (query-params page=value.number)
                      }}
                        <button id="pagi" class="btn-new">
                          {{key}}
                        </button>
                      {{/link-to}}
                    {{else}}
                      <button id="pagi" class="btn-new-disabled" disabled>
                        {{key}}
                      </button>
                    {{/if}}
                  {{/each-in}}
                </div>
                <div class="col-sm-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>