<main>
  <div id="site-container">
    <div
      style="--mdc-theme-on-primary:#fff; --mdc-theme-on-surface:rgba(0, 0, 0, 0.87); --mdc-theme-text-primary-on-background:rgba(0, 0, 0, 0.87); --mdc-theme-text-secondary-on-background:rgba(0, 0, 0, 0.54); --mdc-theme-text-hint-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-disabled-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-icon-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-primary:#20BEFF; --mdc-theme-error:#F58B8A; --mdc-theme-background:#F8F8F8; --mdc-theme-surface:#fff; --mdc-theme-primary-bg:#20BEFF; --mdc-theme-secondary-bg:#919294;"
    >
      {{#nav-top-main label="Search" symbol="search"}}{{/nav-top-main}}
      {{#nav-bar-new}}{{/nav-bar-new}}
      <div id="site-content" class="sc-pBmid jWbQXn">
        <div class="Dataset_Wrapper-sc-isllmh bBkMGo">
          <div class="col-12 col-sm-12 col-xs-12 mainpanel">
            <ol class="breadcrumb" role="navigation">
              <li class="breadcrumb-item active">
                / Job Schedulers
              </li>
            </ol>
          </div>
          <div class="sc-khejCx ktkvXl" wrap="wrap">
            <div class="sc-jxjKaW jmgfEm">
              <h1 class="sc-fznKkj sc-fznZeY sc-pTDWx joJvIt">
                Job Schedulers
              </h1>
              <p class="sc-fzoyTs sc-fzoNJl sc-qbAJQ fEpgeu">
                Find all the job schedules.
              </p>
            </div>
            <div class="sc-jMWpol fJMZgk" wrap="wrap">
              {{#if
                (not-eq
                  (determine-action nextactions "Create" "processsheduler")
                  "none"
                )
              }}
                <button
                  class="sc-fzpkqZ iWxdZC"
                  tabindex="0"
                  role="button"
                  onclick={{action "createroute"}}
                >
                  <i
                    sizevalue="18px"
                    class="rmwc-icon google-material-icons sc-AxgMl eRwgYP"
                  >
                    add
                  </i>
                  <span class="sc-fzoxKX sc-fzoKki cyTXUp">
                    New Job Schedule
                  </span>
                </button>
              {{/if}}
              <button
                class="sc-fzpkqZ iWxdZCg"
                tabindex="0"
                role="button"
                onclick={{action "logdetail"}}
              >
                <i
                  sizevalue="18px"
                  class="rmwc-icon google-material-icons sc-AxgMl eRwgYP"
                >
                  view_list
                </i>
                <span class="sc-fzoxKX sc-fzoKki cyTXUp">
                  All logs
                </span>
              </button>
            </div>
          </div>
          <div class="DatasetList_BannerWrapper-sc-1be6zyh eAKXEa">
            <div class="sc-kIixin hfuBqW">
              <div class="sc-kIixin bwbMYl">
                <div
                  class="sc-qZtCU gYnjXV"
                  data-tip="true"
                  data-for="tooltip_components_197"
                  currentitem="false"
                >
                  <i
                    color="rgba(0,0,0,0.7)"
                    sizevalue="24px"
                    class="rmwc-icon google-material-icons sc-AxgMl ccBsuS sc-khCkTZ JbAuV"
                  >
                  </i>
                  <div
                    class="__react_component_tooltip place-top type-dark"
                    id="tooltip_components_197"
                    data-id="tooltip"
                    style="left: 538px; top: 302px;"
                  >
                    <div class="sc-pzMyG ejxVHF">
                    </div>
                  </div>
                </div>
                <h5 class="sc-fzpjYC sc-fznxsB sc-kNjWNq jPEnAY">
                  {{processshedulers.length}} Job Schedulers
                </h5>
              </div>
              <div class="sc-jCCNBi dnDHOZ">
                <div class="sc-jNfLxA gjvUWV"></div>
                <div class="sc-kIFxrv bzKand">
                  <div class="sc-kIPIUN ctsFoq">
                    <div class="sc-jCmwxO ekitij">
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            text_format
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            Job Name
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            text_format
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            Process
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            text_format
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            Type
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            grid_3x3
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            Day
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            grid_3x3
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            Day of the week
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            grid_3x3
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            Hour
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            grid_3x3
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            Minute
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                            grid_3x3
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            Second
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                            sort
                          </i>
                        </div>
                      </div>
                      <div class="sc-jHVFih sc-khKixi eorLMQ">
                        <div class="sc-jwDLgl ibzIRN">
                          <i
                            sizevalue="12px"
                            class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                          >
                          </i>
                          <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                          </span>
                          <i
                            color="#5F6368"
                            sizevalue="18px"
                            class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                          >
                          </i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  {{#each processshedulers as |processsheduler|}}
                    <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                      <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                        <div>
                          {{#link-to
                            "scheduler-view"
                            processsheduler.id
                            target="_blank"
                            tagName="a"
                            class="link"
                          }}
                            {{processsheduler.jobname}}
                          {{/link-to}}
                        </div>
                        <div>
                          {{processsheduler.process}}
                        </div>
                        <div>
                          {{#if (eq processsheduler.ishourly "true")}}
                            Hourly
                          {{else if (eq processsheduler.isdaily "true")}}
                            Daily
                          {{else if (eq processsheduler.isweekly "true")}}
                            Weekly
                          {{else if (eq processsheduler.ismonthly "true")}}
                            Monthly
                          {{/if}}
                        </div>
                        <div class="number">
                          {{processsheduler.monthday}}
                        </div>
                        <div class="number">
                          {{processsheduler.dayofweek}}
                        </div>
                        <div class="number">
                          {{processsheduler.hour}}
                        </div>
                        <div class="number">
                          {{processsheduler.minute}}
                        </div>
                        <div class="number">
                          {{processsheduler.second}}
                        </div>

                        <div>
                          {{#if
                            (eq
                              (determine-state
                                processsheduler.id statusDictComputed
                              )
                              false
                            )
                          }}
                            <PaperProgressLinear
                              @value={{determinateValue}}
                              @bufferValue={{determinateValue2}}
                            />
                          {{else}}

                          {{/if}}
                        </div>
                      </div>
                    </span>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>