<main>
  <div id="site-container">
    <div
      style="--mdc-theme-on-primary:#fff; --mdc-theme-on-surface:rgba(0, 0, 0, 0.87); --mdc-theme-text-primary-on-background:rgba(0, 0, 0, 0.87); --mdc-theme-text-secondary-on-background:rgba(0, 0, 0, 0.54); --mdc-theme-text-hint-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-disabled-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-icon-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-primary:#20BEFF; --mdc-theme-error:#F58B8A; --mdc-theme-background:#F8F8F8; --mdc-theme-surface:#fff; --mdc-theme-primary-bg:#20BEFF; --mdc-theme-secondary-bg:#919294;"
    >
      {{#nav-top-main label="Search" symbol="search"}}{{/nav-top-main}}
      {{#nav-bar-new}}{{/nav-bar-new}}
      <div id="site-content" class="sc-pBmid jWbQXn">
        <div class="Dataset_Wrapper-sc-isllmh bBkMGo">
          <div class="col-12 col-sm-7 col-xs-12 mainpanel">
            <ol class="breadcrumb" role="navigation">
              <li>
                <a class="borrolink" 
                onclick={{action "discardroute"}}
                >
                  Job Scheduler
                </a>
              </li>
              <li class="breadcrumb-item active">
                View
              </li>
            </ol>
          </div>
          <div class="col-5 col-sm-5 col-xs-5">
            <div class="breadcrumb1">
              {{#if (eq process.status "active")}}
                <a
                  href="#"
                  data-toggle="modal"
                  data-target="#inviteModal"
                  id="invite-breadcrumb"
                >
                  Active
                </a>
              {{else}}
                <a
                  href="#"
                  data-bind="css:{selected:applicationsFilter() === 'new'}"
                >
                  <label
                    class="radio-inline"
                    data-bind="css:{selected:applicationsFilter() === 'new'}"
                  >
                    Active
                  </label>
                </a>
              {{/if}}

              {{#if (eq process.status "deactive")}}
                <a
                  href="#"
                  data-toggle="modal"
                  data-target="#inviteModal"
                  id="invite-breadcrumb"
                >
                  Deactivate
                </a>
              {{else}}
                <a
                  href="#"
                  data-bind="css:{selected:applicationsFilter() === 'new'}"
                >
                  <label
                    class="radio-inline"
                    data-bind="css:{selected:applicationsFilter() === 'new'}"
                  >
                    Deactivate
                  </label>
                </a>
              {{/if}}
            </div>
          </div>

          <div class="sc-khejCx ktkvXl" wrap="wrap">
            <div class="sc-jxjKaW jmgfEm">
              <h1 class="sc-fznKkj sc-fznZeY sc-pTDWx joJvIt">
                {{process.jobname}}
              </h1>
              <p class="sc-fzoyTs sc-fzoNJl sc-qbAJQ fEpgeu">
              </p>
            </div>
            <div class="sc-jMWpol fJMZgk" wrap="wrap">
              <button
                class="sc-fzpkqZ iWxdZC"
                tabindex="0"
                role="button"
                {{!-- onclick={{action "createroute"}} --}}
              >
                <i
                  sizevalue="18px"
                  class="rmwc-icon google-material-icons sc-AxgMl eRwgYP"
                >
                  edit
                </i>
                <span class="sc-fzoxKX sc-fzoKki cyTXUp">
                  Edit
                </span>
              </button>
            </div>
          </div>
          <div class="Home_ComponentWrapper-sc-7qy803 jYMWzP">
            <div class="competition-overview__teasers">
              <div class="competition-overview__teaser">
                <div class="content-box content-box--grow">
                  <div class="content-box__title-bar--link">
                    <div class="content-box__title-bar">
                      <div
                        style="line-height: 46px;"
                        class="ContentBox_Title-sc-6fbrxj hMwprG"
                      >
                        Overview
                      </div>
                    </div>
                  </div>
                  <div
                    class="content-box__content-section kernels-teaser__items"
                  >
                    <div class="teaser-list teaser-list--4-item-height">
                      {{#object-title
                        data=process.jobname
                        label="Job Name"
                        isReadonly=true
                      }}{{/object-title}}
                      {{#object-title
                        data=process.process
                        label="Process"
                        isReadonly=true
                      }}{{/object-title}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="competition-overview__teaser">
                <div class="content-box content-box--grow">
                  <div class="content-box__title-bar--link">
                    <div class="content-box__title-bar">
                      <div
                        style="line-height: 46px;"
                        class="ContentBox_Title-sc-6fbrxj hMwprG"
                      >
                        Runtime Detail
                      </div>
                    </div>
                  </div>
                  <div
                    class="content-box__content-section kernels-teaser__items"
                  >
                    <div class="teaser-list teaser-list--4-item-height">
                      {{#object-title
                        data=estTime
                        label="Est time"
                        isReadonly=true
                      }}{{/object-title}}
                      {{#object-title
                        data=stopWatchComputed
                        label="Elasped time"
                        isReadonly=true
                      }}{{/object-title}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mainpanel">
            <div id="myProgress">
              <div id="myBar">
              </div>
            </div>
          </div>
          <div class="DatasetList_BannerWrapper-sc-1be6zyh eAKXEa marginnew">
            <div class="sc-kIixin hfuBqWasd">
              <div class="sc-kIixin bwbMYlasd">
                <div
                  class="sc-qZtCU gYnjXV"
                  data-tip="true"
                  data-for="tooltip_components_197"
                  currentitem="false"
                >
                  <i
                    color="rgba(0,0,0,0.7)"
                    sizevalue="24px"
                    class="rmwc-icon google-material-icons sc-AxgMl ccBsuS sc-khCkTZ JbAuV"
                  >
                  </i>
                  <div
                    class="__react_component_tooltip place-top type-dark"
                    id="tooltip_components_197"
                    data-id="tooltip"
                    style="left: 538px; top: 302px;"
                  >
                    <div class="sc-pzMyG ejxVHF">
                    </div>
                  </div>
                </div>
                <h5 class="sc-fzpjYC sc-fznxsB sc-kNjWNq jPEnAY">
                  Detail
                </h5>
                <div
                  class="sc-qZtCU gYnjXV"
                  data-tip="true"
                  data-for="tooltip_components_56"
                  currentitem="false"
                >
                  {{#if (eq progressComputed "false")}}
                    <button
                      class="confirm2"
                      onclick={{action "run" process.id}}
                    >
                      <i
                        sizevalue="24px"
                        class="rmwc-icon google-material-icons blue"
                      >
                        play_circle
                      </i>
                    </button>
                  {{else}}
                    <button class="confirm2" disabled>
                      <i
                        sizevalue="24px"
                        class="rmwc-icon google-material-icons blue-dis"
                      >
                        play_circle
                      </i>
                    </button>
                  {{/if}}
                </div>
                <div
                  class="sc-qZtCU gYnjXV"
                  data-tip="true"
                  data-for="tooltip_components_56"
                  currentitem="false"
                >
                  {{#if (eq stopButtonComputed "false")}}
                    <button
                      class="confirm2"
                      onclick={{action "stop" jobstatus process.id}}
                    >
                      <i
                        sizevalue="24px"
                        class="rmwc-icon google-material-icons blue"
                      >
                        stop_circle_filled
                      </i>
                    </button>
                  {{else}}
                    <button class="confirm2">
                      <i
                        sizevalue="24px"
                        class="rmwc-icon google-material-icons blue-dis"
                      >
                        stop_circle_filled
                      </i>
                    </button>
                  {{/if}}
                </div>
              </div>

              <div class="sc-jCCNBi dnDHOZTT">
                <div class="sc-jNfLxA gjvUWV">
                  <div class="sc-kIFxrv bzKand">
                    <div class="sc-kIPIUN ctsFoq">
                      <div class="sc-jCmwxO ekitij">
                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRN">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                              text_format
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                              Type
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                              sort
                            </i>
                          </div>
                        </div>

                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRN">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                              grid_3x3
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                              Day
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                              sort
                            </i>
                          </div>
                        </div>

                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRN">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                              grid_3x3
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                              Days of the week
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                              sort
                            </i>
                          </div>
                        </div>
                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRN">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                              grid_3x3
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                              Hour
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                              sort
                            </i>
                          </div>
                        </div>

                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRN">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                              grid_3x3
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                              Minute
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                              sort
                            </i>
                          </div>
                        </div>

                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRN">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                              grid_3x3
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                              Second
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                              sort
                            </i>
                          </div>
                        </div>

                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRN">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                            </i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                      <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                        <div>
                          {{#if (eq process.ishourly "true")}}
                            Hourly
                          {{else if (eq process.isdaily "true")}}
                            Daily
                          {{else if (eq process.isweekly "true")}}
                            Weekly
                          {{else if (eq process.ismonthly "true")}}
                            Monthly
                          {{/if}}
                        </div>
                        <div class="number">
                          {{process.monthday}}
                        </div>
                        <div class="number">
                          {{process.dayofweek}}
                        </div>
                        <div class="number">
                          {{process.hour}}
                        </div>
                        <div class="number">
                          {{process.minute}}
                        </div>
                        <div class="number">
                          {{process.second}}
                        </div>
                        <div class="prog">
                          {{#if (eq progressComputed "true")}}
                            <PaperProgressLinear
                              @value={{determinateValue}}
                              @bufferValue={{determinateValue2}}
                            />
                          {{/if}}
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="DatasetList_BannerWrapper-sc-1be6zyh eAKXEa marginnew">
            <div class="sc-kIixin hfuBqWasd">
              <div class="sc-kIixin bwbMYlasd">
                <div
                  class="sc-qZtCU gYnjXV"
                  data-tip="true"
                  data-for="tooltip_components_197"
                  currentitem="false"
                >
                  <i
                    color="rgba(0,0,0,0.7)"
                    sizevalue="24px"
                    class="rmwc-icon google-material-icons sc-AxgMl ccBsuS sc-khCkTZ JbAuV"
                  >
                  </i>
                  <div
                    class="__react_component_tooltip place-top type-dark"
                    id="tooltip_components_197"
                    data-id="tooltip"
                    style="left: 538px; top: 302px;"
                  >
                    <div class="sc-pzMyG ejxVHF">
                    </div>
                  </div>
                </div>
                <h5 class="sc-fzpjYC sc-fznxsB sc-kNjWNq jPEnAY">
                  Logs
                </h5>
              </div>

              <div class="sc-jCCNBi dnDHOZXX">
                <div class="sc-jNfLxA gjvUWV">
                  <div class="sc-kIFxrv bzKand">
                    <div class="sc-kIPIUN ctsFoq">
                      <div class="sc-jCmwxO ekitij">
                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRN">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                              text_format
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                              Date
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                              sort
                            </i>
                          </div>
                        </div>

                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRN">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                              text_format
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                              Time
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                              sort
                            </i>
                          </div>
                        </div>

                        <div class="sc-jHVFih sc-khKixi eorLMQ">
                          <div class="sc-jwDLgl ibzIRNL">
                            <i
                              sizevalue="12px"
                              class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                            >
                              text_format
                            </i>
                            <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                              Output
                            </span>
                            <i
                              color="#5F6368"
                              sizevalue="18px"
                              class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                            >
                              sort
                            </i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    {{#each componentNamesComputed as |log|}}
                      {{#object-log model=log}}{{/object-log}}
                    {{else}}

                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>