{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenav">
    <br />
    <br />
    <div class="col-sm-12">
      {{#nav-lending}}{{/nav-lending}}
    </div>
  </div>
   <div class="row" id="overlay">
    <div class="col-xs-6 col-sm-6 new-load">
      <div class="col-xs-6 col-sm-6 login-card-2">
        <PaperProgressCircular
          @primary={{true}}
          @diameter={{100}}
        />
      </div>
    </div>
  </div>

  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav-new padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a class="borrolink" onclick={{action "discardroute"}}>
                Job Scheduler
              </a>
            </li>
            <li class="breadcrumb-item active">
              New
            </li>
          </ol>
          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-primary o_list_button_add"
            type="button"
            data-original-title=""
            title=""
            onclick={{
              action "save" newhour newmonth newdaily newweekly "active"
            }}
          >
            <span class="d-none d-sm-inline">
              Activate
            </span>
          </button>
          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-secondary o_button_import"
            type="button"
            onclick={{action "discardroute"}}
          >
            Discard
          </button>
        </div>
        <div class="col-12 col-sm-12 col-xs-12 margin-nav">

          <div class="breadcrumb1">
            <a
              data-toggle="modal"
              data-target="#inviteModal"
              id="invite-breadcrumb"
            >
              Activate
            </a>

            <a
              data-bind="css:{selected:applicationsFilter() === 'connected'}"
              id="last"
            >
              <label
                class="radio-inline"
                data-bind="css:{selected:applicationsFilter() === 'connected'}"
              >
                Deactivate
              </label>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-xs-12  mainpanel padding-0">
        <div class="col-6 col-sm-6 col-xs-6"></div>
        <div class="col-6 col-sm-6 col-xs-6">
          <PaperCard as |card|>
            <card.content @class="layout-row layout-align-space-between">
              <table>
                <tbody>
                  {{#object-title label="Job Name" title=processname}}{{/object-title}}
                  {{#single-selection
                    modelname="process"
                    label="Process"
                    setValue=process
                    mode=mode
                  }}{{/single-selection}}
                </tbody>
              </table>
            </card.content>
          </PaperCard>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-xs-12  mainpanel padding-0">
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-sm-12 col-xs-12 col-12">
              <table
                class="o_list_view table table-sm table-hover table-striped o_list_view_ungrouped"
              >
                <thead>
                  <tr>
                    <th class="o_column_sortable_1">
                    </th>
                    <th class="o_column_sortable_1">
                      Type
                    </th>

                    <th class="o_column_sortable_1">
                      Day
                    </th>
                    <th class="o_column_sortable_1">
                      Hour
                    </th>
                    <th class="o_column_sortable_1">
                      Minute
                    </th>
                    <th class="o_column_sortable_1">
                      Second
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {{#obj-sch-process
                    label="Hourly"
                    data=newhour.ishourly
                    flag="hr"
                    broadcast=true
                    objname="hour"
                    isReadonly=isReadonlyhour
                    minvalue=newhour.minute
                    secvalue=newhour.second
                  }}{{/obj-sch-process}}
                  {{#obj-sch-process
                    label="Daily"
                    data=newdaily.isdaily
                    flag="daily"
                    broadcast=true
                    objname="daily"
                    isReadonly=isReadonlydaily
                    hrvalue=newdaily.hour
                    minvalue=newdaily.minute
                    secvalue=newdaily.second
                  }}{{/obj-sch-process}}
                  {{#obj-sch-process
                    label="Weekly"
                    modelname="dayofweek"
                    keyaccess="day"
                    broadcast=true
                    objname="week"
                    data=newweekly.isweekly
                    hrvalue=newweekly.hour
                    minvalue=newweekly.minute
                    secvalue=newweekly.second
                    dayvalue=newweekly.dayofweek
                    isReadonly=isReadonlyweekly
                    
                  }}{{/obj-sch-process}}
                  {{#obj-sch-process
                    label="Monthly"
                    modelname="day"
                    keyaccess="day"
                    broadcast=true
                    objname="month"
                    data=newmonth.ismonthly
                    hrvalue=newmonth.hour
                    minvalue=newmonth.minute
                    secvalue=newmonth.second
                    dayvalue=newmonth.monthday
                    isReadonly=isReadonlymonthly
                  }}{{/obj-sch-process}}
                </tbody>
              </table>
            </div>
          </card.content>
        </PaperCard>
      </div>
    </div>
  </div>
</div>